*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    
}

body {
    background: url(../img/foto-2-2.jpg);
    background-size: cover;
}

.contenedor .form .form-header .form-titulo {
    font-weight: normal;
    font-family: 'Itim', cursive;
    color: black;
    text-align: center;
    padding: 14px 0;
}




.contenedor .form .form-header .form-titulo span {
    color: black;
}

.contenedor .form {
    background-color:white; filter:alpha(opacity=60); opacity:.6; 
    width: 90%;
    max-width: 650px;
    margin: auto;
    padding: 5px 35px;
    margin-top: 30px;
    padding-bottom: 30px;
    border-radius: 3px;
}

.contenedor .form .form-label {
    display: block;
    color: black;
    
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    position: relative;

}

.contenedor .form .form-input, .form-textara {
    background: rgb(209, 208, 208);
    border: none;
    outline: none;
    border-bottom: 2px solid black;
    width: 100%;
    padding: 12px;
    margin-bottom: 20px; 
    border-radius: 2px;
    font-size: 14px;

    }

    .contenedor .form .form-textara {
        resize: vertical;
        max-height: 150px;
        min-height: 50px;
    }

    .contenedor .form .btn-submit {
        width: 100%;
        outline: none;
        background: black;
        font-size: 16px;
        border: none;
        color: white;
        padding: 15px 0;
        cursor: pointer;
        transition: all .5s ease;
    }

    .contenedor .form .btn-submit:hover {
        background: red;
    }

